.btnStyle:link,
.btnStyle:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btnStyle:link:after,
.btnStyle:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

.btnStyle:link:hover,
.btnStyle:visited:hover {
    color: #000000;
    text-shadow: none;
}

.btnStyle:link:hover:after,
.btnStyle:visited:hover:after {
    height: 450%;
}

.btnStyle:link,
.btnStyle:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #1E1E1E;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btnStyle:link,
.btnStyle:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btnStyle:after,
.btnStyle:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

.btnStyle:hover,
.btnStyle:visited:hover {
    color: #000000;
    text-shadow: none;
}

.btnStyle:hover:after,
.btnStyle:visited:hover:after {
    height: 450%;
}

.btnStyle,
.btnStyle:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #1E1E1E;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}





.btnStyle.foot {
    color: rgb(195, 195, 195);
    cursor: pointer;
    display: block;
    position: relative;
    
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.btnStyle.foot:hover {
    color: #fff !important;
    background-color: transparent;
    text-shadow: none;
}

.btnStyle.foot:hover:before {
    bottom: 0%;
    top: auto;
    height: 50%;
}

.btnStyle.foot:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #fff !important;
    background: rgb(39, 38, 38);
    transition: all 0.4s cubic-bezier(1.215, 0.61, 0.355, 1) 0s;
}












.btnStyle.one {
    color: #000;
    cursor: pointer;
    width: 50%;
    display: block;
    position: relative;
    border: 2px solid #1E1E1E;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}





.btnStyle.one:hover {
    color: #fff !important;
    background-color: transparent;
    text-shadow: none;
}

.btnStyle.one:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.btnStyle.one:before {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #fff !important;
    background: #1E1E1E;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.btnStyle.two {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #1E1E1E;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.btnStyle.two:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: ntwo;
}

a.btnStyle.two:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
}

a.btnStyle.two:before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #1E1E1E;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.btnStyle.three {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #1E1E1E;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.btnStyle.three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
}

a.btnStyle.three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}

a.btnStyle.three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #1E1E1E;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.btnStyle.four {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #1E1E1E;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.btnStyle.four:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nfour;
}

a.btnStyle.four:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
}

a.btnStyle.four:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #1E1E1E;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.btn.btn-outline-danger{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    
    
}

.btn.btn-outline-success{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.btn.btn-outline-warning{
    border-radius: 50%;
    border:transparent;
    width: 50px;
    height:50px;
    float: right;
    margin-right: 5px;
    margin-left: -33px;
    align-content: right;

    
}