@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	font-family: 'Lato', sans-serif;
    background: whitesmoke;
    color: #4F4F4F;
    justify-content: center;
}

/* APP */
.mainStyle {
    margin-bottom : 70px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    
    justify-content: center;
    display: flex;    
}

.loading{
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.pageStyle{
    margin-top: 5rem;
    margin-bottom: 5rem;    
}

h2.title{
    text-align: center;
    
    margin-left: 3%;
    margin-right: 3%;
}
h4.text{
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;

}


.hStl{
    margin-top: 3%;
    justify-content: center;
}


.formAccesso {
    /* border-style: #474748;
    background-color:#333333; */
    justify-content: center;
    text-align: center;
    margin-bottom : 30px;
    margin-top: 10px;
}

/* profile */
.form {
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}



/* footer */

.footBtn {
    margin-top: -5px;
    margin-bottom: -2px;
}

.footIco{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.footTxt {
    margin-top: -5px;
    margin-bottom: -10px;
    color: antiquewhite;
}


.headNavBar{
    text-align: center;
}
.navbar{
    margin-bottom: 0px;

}

::-webkit-input-placeholder {
    text-align: center;
 }


input[type]{
    display: block;
    border: solid;
    border-color: black;
} 

input[type]:focus{
    border-color: black;
    border-style: solid;
}

.customSelect{
    display: block;
    border: solid;
    border-color: black;
}

.sltForm{
    width: 50rem;
    display: block;
    margin: auto;
}


.layoutCol{
    width: 10rem;

}

.googleCentrato{
    display: flex;
    justify-content: center
}

.QCard{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.QCard:hover{
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.QueueForm {
    margin-left: auto;
    margin-right: auto;
}




.navbar-collapse{
    text-align:center;
    
}

.dropdown-menu.show{
    background-color: #41484ef5;
    
}







.foot{
    background-image: '../components/media/foot.jpg';
    height: 70px;
}


.logo{
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    margin-bottom: -150px;
}






/*  INFO */



.infoIcon {
    margin-left: 5px;
}

.infoIconTelefona {
    margin-left: 5px;
    transform: rotate(90deg);
}

.unicamLogo {
    margin-left: 5px;
    width: 15px;
    height: 18px;
}



/* FAQ*/
.just {
    text-align: center;
    /* justify */
    
}