/* APP */
.mainStyle {
    margin-bottom : 70px;
    margin-top: 0px;
    text-align: center;
    
}

.loading{
    margin-top: 300px;
    display: flex;
    justify-content: center;

}

.headerStyle {
    margin-bottom: 70px;
    
}
.pageStyle{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 5%;
    margin-top: 5%; 
    
}

/* login */


.accessoButton:hover{
    /* background-color: #474748;
    color:white; */
}
.accessoButton {
    /* color:white;
    background-color:#333333; */
    margin-bottom : 30px;
    margin-top: 10px;
}

.formAccesso {
    /* border-style: #474748;
    background-color:#333333; */
    margin-bottom : 30px;
    margin-top: 10px;
}

/* blog */

.blogButton {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cardStyle {
    margin-left: 10px;
    margin-right: 10px;
    background-color:#2A2D2E;
    border-style: solid;
    border-color: #474748;
}

.blogIcon {
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
}

.infoCard{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}



.cardCommento {
    margin-top: 5px; 
}

.commentaFormStyle {
    margin-top: 10px;
}

.segnalazioneButton {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.contattiList {
    list-style-type: none
}

.contattiIcon {
    margin-left: 5px;
    margin-bottom: 4px;
}
/* profile */
.formDati {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.formDatiLabel {
    text-align: center;
}


/* footer */

.footeBtn {
    margin-top: -5px;
    margin-bottom: -2px;
}

.footIco{
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 0px;
}

.footTxt {
    margin-top: -5px;
    margin-bottom: -10px;
    color: antiquewhite;
}


.headNavBar{
    text-align: center;
}
.navbar{
    margin-bottom: 0px;

}

::-webkit-input-placeholder {
    text-align: center;
 }


input[type]{ 
    /* background: #474748;
    color: #C5C5C5; */
    width: 50%;
    display: block;
    margin: auto;

} 

input[type]:focus{
    border-color: cornflowerblue;
    border-style: solid;
    /* background: #474748;
    color: #C5C5C5; */
}

#sltForm{
    /* background: #474748;
    color: #C5C5C5; */
    width: 50%;
    display: block;
    margin: auto;
}




.googleCentrato{
    display: flex;
    justify-content: center
}

.QCard{
    margin-left: auto;
    margin-right: auto;
    width: '24rem';
   
}

.QueueForm {
    margin-left: auto;
    margin-right: auto;
}

/* btnStyle */

.btnAdd:hover{
    
    
}
